.service{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    width: 90%;
}
.service img{
    border-bottom: 1px solid white;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    height: 250px;
    width: 100%
}
.service-body{
    height: 220px;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    background-image: linear-gradient(rgba(34, 34, 155), rgba(61, 8, 92));
    color: rgb(187, 255, 209);
    font-weight: 600;
    font-size: 15px;
    position: relative;
}
.service-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

@media only screen and (max-width:768px){
    .service-body, .service img{
        width: 100%;
    }
}