.shipping{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping-form{
    margin: 5px 0;
}
.shipping-form input{
    display: block;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px
}

@media only screen and (max-width:768px){
    .shipping-form input{
        width: 100%;
    }
}